$base-dark-purple: #6c3f7c;
$base-purple: #6e5e9c;
$base-purple-200: #d1d1d6; // Apple Light Gray
$base-pink: #f5f5f7; // Apple Light Background
$base-light-purple: #e5e5ea; // Apple System Gray 5

$base-dark-purple-2: #6c3f7c;
$base-purple-2: #6e5e9c;
$base-purple-200-2: #d1d1d6;
$base-pink-2: #f5f5f7;
$base-light-purple-2: #e5e5ea;

$base-black: #090909;
$base-white: #fdfdfd;

// Mixins
@mixin centered {
  display: flex;
  justify-content: center;
  align-items: center;
}